<p>Greetings from Unfetter,</p>
<p>
    <strong>{{ firstName }} {{ lastName }}</strong> registered to Unfetter and is pending approval by an admin.  Please take one of the following actions:
</p>
<ul>
    <li>Visit <a href="{{ link }}">Approve Users dashboard</a></li>
    <li>Contact user at <a href="mailto:{{ email }}" target="_top">{{ email }}</a></li>
</ul>
<p>
    From: The Unfetter team
</p>
